@mixin ftr-title{
    font-weight: bold;
    position:relative;
    text-transform: uppercase;
    padding: .6em 0;
    &::before{
        content:"";
        position:absolute;
        left:0;
        bottom:-1px;
        height: 1px;
        width: 30%;
        border-bottom: 3px solid $primary;
    }
}
footer{
    border-top: 8px solid $ftr-line;
    padding: 2em 0;
    margin: 4em 0;
    a{
        &:hover{
            color:$primary;
        }
    }
    ul{
        padding-left: 0;
    }
    li::before {
        content: ">";
        font-size: 10px;
        color: $seconary-hov;
      }
}

.ftr-columns{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap: 1rem;
  }



.ftr-title, .ftr-title-info, .ftr-title-products{
    @include ftr-title;
}


.ftr-caption{
    margin: 3em auto;
    text-align: center;
}

@media screen and(max-width:1024px){
    .ftr-columns{
        grid-template-columns:1fr;
    }
    .ftr-title-info, .ftr-title-products{
        padding-left:1em;
        &::before{
            content: ">";
            bottom:auto;
            color: $seconary-hov;
            border-bottom:none;
        }
    }
    .ftr-hidable{
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s ease;
    }
}

.ftr-rotate::before{
    content: ">";
    bottom: -30px;
    color: #94bf13;
    border-bottom: none;
    transform: rotate(90deg);
    left: -35px;
}

img.socicon{
    margin:1em;
    height: 30px;
    aspect-ratio: initial;
    cursor: pointer;
    &:hover{
        filter:$filterprimary;
    }
}
