<footer>
<div class="container">
    <div class="ftr-columns">
        <div>            
            <h5 class="ftr-title-products" onclick="myFooterColProducts()">Naše produkty</h5>
            <div class="even-columns ftr-hidable" id="products">
                <div>
                    <ul>
                        <li>
                            <a href="#">Speciální nabídka</a>
                        </li>
                        <li>
                            <a href="#">Laktobacily a bifidobakerie</a>
                        </li>
                        <li>
                            <a href="#">Močové ústrojí, brusinky</a>
                        </li>
                        <li>
                            <a href="#">Imunitní systém</a>
                        </li>
                        <li>
                            <a href="#">Nervy, spánek</a>
                        </li>
                        <li>
                            <a href="#">Srdce, cholesterol</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#">Klouby, pohyb</a>
                        </li>
                        <li>
                            <a href="#">Vitamíny, minerály</a>
                        </li>
                        <li>
                            <a href="#">Pro ženy</a>
                        </li>
                        <li>
                            <a href="#">Pro muže</a>
                        </li>
                        <li>
                            <a href="#">Pro děti</a>
                        </li>
                        <li>
                            <a href="#">Stáhněte si ceník</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h5 class="ftr-title-info" onclick="myFooterColInfo()" >Informace</h5>
            <ul class="ftr-hidable" id="info">
                <li>
                    <a href="#">Obchodní podmínky</a>
                </li>
                <li>
                    <a href="#">Reklamační podmínky</a>
                </li>
                <li>
                    <a href="#">Kde koupíte</a>
                </li>
                <li>
                    <a href="#">Přečtěte si</a>
                </li>
                <li>
                    <a href="#">Prohlášení o cookies</a>
                </li>
                <li>
                    <a href="#">Zpracování osobních údajů</a>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="ftr-title">Odběr novinek</h5>
            <p>Nenechte si ujít akční nabídky</p>
            <div class="searchbar">
                <input class="search-input" aria-label="Search" placeholder="Vyhledávání">
                <button class="btn sendmail-btn" type="submit">Zasílat</button>
            </div>
            <div class="even-columns">
                <div>
                    <img class="socicon" src="img/Twitter.png" alt="Twitter icon">
                </div>
                <div>
                    <img class="socicon" src="img/Facebook.svg" alt="Facebook icon">
                </div>
                <div>
                    <img class="socicon" src="img/Instagram.svg" alt="Instagram icon">
                </div>
            </div>
        </div>
    </div>
    <div class="ftr-caption">
        © 2019&nbsp;<b>NATURE</b>VIA – Všechna práva vyhrazena Vytvořil RTsoft
    </div>
</div>
</footer>