<header>
    <nav class="">

        <ul class="container navigation">
            <li class="nav-item">
                <a class="navbar-brand order-first" href="#">
                    <img src="img/logo.svg" alt="logo"/>
                </a>
            </li>
            <li class="nav-item-desktop">
                <div class="searchbar">
                    <input class="search-input" aria-label="Search" placeholder="Vyhledávání">
                    <button class="btn search-btn" type="submit"><img src="img/vyhledavani.png" alt="vyhledavani"/></button>
                </div>
            </li>
            <li class="nav-item-desktop">
                    <img src="img/user.png" alt="user"/><a class="" href="#">Přihlášení</a>
            </li>
            <li class="nav-item-desktop">
                <img src="img/kosik.png" alt="kosik"/><a class="" href="#"><strong>1598 Kč</strong></a>
            </li>
            <li class="nav-item-desktop">
                <ul class="inline-list">
                    <li class="active lang-items"><a href="#"> Cz</a></li>
                    <li class="lang-items"><a href="#">De</a> </li>
                    <li class="lang-items"><a href="#">Ru</a> </li>
                </ul>
            </li>
        </ul>
 
    <div class="nav-bg">
        <ul class="container nav-item-desktop even-columns">
            <li class="nav-link">
               <div>
                   <img src="img/hamburger.svg" alt="hamburger"> Eshop
               </div>
            </li>
            <li class="nav-link">
                <img src="img/home.png" alt="hamburger">
            </li>
            <li class="nav-link">
                Klub zdraví
            </li>
            <li class="nav-link">
                O nás
            </li>
            <li class="nav-link">
                Aktuality
            </li>
            <li class="nav-link">
                Kontakty
            </li>
        </ul>
        <ul class="container even-columns">
            <li class="nav-link-mobile">
                <div class="nav-mobile-hamburger">
                    <button class="second-button" type="button">
                        <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
                      </button>
                      Menu
                </div>
             </li>
             <li class="nav-link-mobile">
               <div class="nav-socicons">
                   <img src="img/user.png" alt="user">
                   <img src="img/kosik.png" alt="kosik">
                   <img src="img/vyhledavani.png" alt="vyhledavani">
               </div>
            </li>
            <div class="overlay">
                <div class="overlay-content">
                  <a href="#">Klub zdraví</a>
                  <a href="#">O nás</a>
                  <a href="#">Aktuality</a>
                  <a href="#">Kontakty</a>
                </div>
            </div>
        </ul>
    </div>
    </nav>
</div>
</header>
