<section>
    <div class="container">
        <div class="content-sidebar">
            <div class="sidebar-card">
                <h5 class="sidebar-title">Naše produkty</h5>
                <ul class="sidebar-list">
                    <li><a href="#">Výhodná nabídka a novinky</a></li>
                    <li><a href="#">Brusinky</a></li>
                    <li><a href="#">Nervy, spánek</a></li>
                    <li><a href="#">Pro ženy</a></li>
                    <li><a href="#">FRUCTOLAX Ovoce&Vláknina</a></li>
                    <li><a href="#">Exkluzivně pouze v e-shopu</a></li>
                    <li><a href="#">Imunita, obranyschopnost</a></li>
                    <li><a href="#">Srdce, cholesterol</a></li>
                    <li><a href="#">JAVOROVÝ SIRUP 100%</a></li>
                    <li><a class="active-sidebar" href="#">Laktobacily a bifidobakterie</a></li>
                    <li><a href="#">Klouby, pohyb</a></li>
                    <li><a href="#">Pro děti</a></li>
                    <li><a href="#">SLEVY-EXPIRACE</a></li>
                </ul>
            </div>
            <div class="main-content">
                <h1>LAKTOBACILY A BIFIDOBAKTERIE</h1>
                <p>
                    Střevní mikroflóra každého člověka obsahuje probiotické i patogenní bakterie. Z probiotických převládají hlavně laktobacily a bifidobakterie. Probiotika jsou živé mikroorganizmy, které aplikovány v přiměřeném množství příznivě ovlivňují zdravotní stav hostitele. 
                    <br><br>Všechna probiotika Swiss Natural™ jsou plněna v rostlinných kapslích. Vyberte si z nabídky Swiss Natural® probiotika špičkové kvality pro celou rodinu - od kojenců po seniory.
                </p>
                <div class="product-selection even-columns">
                    <p>21 produktů</p>
                    <div>
                        <input class="checkbox-filter" type="checkbox" name="Skladem" checked>   
                        <label for="Skladem">Skladem</label>
                    </div>
                    <div>
                        <input class="checkbox-filter" type="checkbox" name="Novinka">
                        <label for="Novinka">Novinka</label>
                    </div>
                    <div>
                        <input class="checkbox-filter" type="checkbox" name="Akce">
                        <label for="Akce">Akce</label>
                    </div>
                    <div class="custom-select">
                        <select>
                          <option value="0">Nejprodávanější</option>
                          <option value="1">Nejnižší cena</option>
                          <option value="2">Nejvyšší cena</option>
                          <option value="3">Novinka</option>
                        </select>
                      </div>
                    <div>
                          <img class="icon-list" src="img/icon_grid.svg" alt="Icon Grid">
                          <img class="icon-list" src="img/icon_list.svg" alt="Icon List">
                    </div>
                </div>
                <div class="product-list">
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    <div class="product-item">
                        <img src="img/image.png" alt="Produkt img">
                        <h6 class="product-title">
                            <a href="#">LAKTOBACÍLKY - dětské cucavé exp. 7/2018</a>
                        </h6>
                        <p>Balení: 30 tablet</p>
                        <div class="two-col">
                            <div class="prices">
                                <p class="club-price">Klubová cena: <strong>186 Kč</strong></p>
                                <p>Běžná cena: <strong>158 Kč</strong></p>
                            </div>
                                <a class="cart" href="#"><img src="img/kosik.png" alt="Košík"></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>